body {
    background: #fff;
    margin:0;
    padding:10px;
}

.buttons {
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #eee;
    padding:12px 12px;
    margin-bottom:5px;
    /*display: flex;*/
    align-items: center;
}

.grouptitle {
    margin:15px 0 5px 0;
    padding: 6pt 5px 5px 5px;
    border: 1px dotted #ccc;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.grouptitle h3 {
    margin: 0 0 0 12px;
    padding: 0 5px;
    font: 10pt "Helvetica", "Arial", sans-serif;
    color: #a8a8a8;
    text-transform: uppercase;
    letter-spacing: 0.3pt;
    position: relative;
    top: -11pt;
    background-color: #fff;
    height: 6pt;
    float: left;
}

.groupname {
    display:inline-block;
    width: 110px;
    font: 10pt "Helvetica", "Arial", sans-serif;
    margin: 0;
}

.button {
	background-color:#33bdef;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    text-align: center;
	font-size:11px !important;
    text-transform: uppercase;
    letter-spacing: 0.3pt;
	padding:4px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b6178;
    margin: 2px 0px 2px 8px;
    min-width: 62px;
    vertical-align: middle;
}
.button:hover {
	background-color:#019ad2;
}
.button:active {
	position:relative;
	top:1px;
}

.providers-select {
    width:100%;
}
.select2, .select2-results {
    font: 10pt  "Cabin Condensed", "Arial Narrow", "Helvetica", "Arial", sans-serif;
}
.select2-selection--multiple {
    min-height:20px !important;
}

table {
    font-size:  10pt;
    font-family: "Cabin Condensed", "Arial Narrow", "Helvetica", "Arial", sans-serif;
    border-spacing: 0px;
    table-layout: fixed;
}

table td {
    padding: 4px !important;
}

div.note {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.note {
    font-family: "Cabin Condensed", "Arial Narrow", "Helvetica", "Arial", sans-serif;
    padding: 2px;
}

note, .notes_cell {
    font-family: "Cabin Condensed", "Arial Narrow", "Helvetica", "Arial", sans-serif;
    font-size: 10pt;
    line-height: 4pt;
}

div.note p {
    margin-bottom:7px;
    font-size: 80%;
}


td note {
    color:#888;
}

.tableTitle {
    font:  14pt Lato, "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.5pt;
    color: #444;
}

table.wide_table {
	font-size: 70%;
	table-layout: fixed;
	border: 1px solid #ccc;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}
table.wide_table th {
	width: 60px;
}

table.wide_table th.double {
	width: 120px;
}

table.wide_table th.triple {
	width: 180px;
}

table.wide_table th.quadruple {
	width: 240px;
}

table.wide_table th.pentadruple {
    width: 350px;
}

.scale_number {
    display: inline-block;
    -moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
    border: 1px solid #057fd0;
    padding: 0px 4px 0 4px;
}



#table_div {
    overflow: scroll;
}

div.entry-content {
    max-width:790px !important;
}